In [25]:
import pandas as pd
import pandas_datareader.data as web_ui
import datetime
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

start = datetime.datetime(2010,1,1)
end = datetime.datetime(2015,1,1)

#define dataframe
df = web_ui.DataReader('TSLA', 'robinhood', start, end)
print(df.head())

#df['Adj Close'].plot()

#plt.show()

                  close_price  high_price  interpolated   low_price  \
symbol begins_at
TSLA   2017-09-14  377.640000  377.960000         False  362.630000
       2017-09-15  379.810000  380.000000         False  372.700000
       2017-09-18  385.000000  389.610000         False  377.680000
       2017-09-19  375.100000  382.390000         False  373.570000
       2017-09-20  373.910000  378.249000         False  371.070000

                   open_price session   volume
symbol begins_at
TSLA   2017-09-14  364.330000     reg  7202524
       2017-09-15  374.510000     reg  5420496
       2017-09-18  380.250000     reg  7187980
       2017-09-19  380.000000     reg  6451886
       2017-09-20  373.000000     reg  4919052

In [56]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style

style.use('ggplot')

timetable = { 
            'day' : ['mon','tues','wed','thurs','fri', 'sat'],
            'No_classes' : [4, 5, 6, 3, 3, 2],
            'free_periods' : [3, 4, 5, 6, 1, 2]}

df = pd.DataFrame(timetable)

#to print the table
print(df)

#to print top except last value
print(df.head())

#to print last except top value
print(df.tail())

#to print using index
print(df.tail(2))

#to give title to index
#df.set_index('Day', inplace=True)

#to access particular rows or columns
print(df['day'])

#to access multiple keys
print(df[['day','No_classes']])

#to convert to a list
print(df['day'].tolist())

#you cannot convert 2d list into adn array ,without import numpy as np
import numpy as np
print(np.array(df[['day','No_classes']]))

#passing array to pandas
df2 = pd.DataFrame(np.array(df[['day','No_classes']]))
print(df2)

     day  No_classes  free_periods
0    mon           4             3
1   tues           5             4
2    wed           6             5
3  thurs           3             6
4    fri           3             1
5    sat           2             2
     day  No_classes  free_periods
0    mon           4             3
1   tues           5             4
2    wed           6             5
3  thurs           3             6
4    fri           3             1
     day  No_classes  free_periods
1   tues           5             4
2    wed           6             5
3  thurs           3             6
4    fri           3             1
5    sat           2             2
   day  No_classes  free_periods
4  fri           3             1
5  sat           2             2
0      mon
1     tues
2      wed
3    thurs
4      fri
5      sat
Name: day, dtype: object
     day  No_classes
0    mon           4
1   tues           5
2    wed           6
3  thurs           3
4    fri           3
5    sat           2
['mon', 'tues', 'wed', 'thurs', 'fri', 'sat']
[['mon' 4]
 ['tues' 5]
 ['wed' 6]
 ['thurs' 3]
 ['fri' 3]
 ['sat' 2]]
       0  1
0    mon  4
1   tues  5
2    wed  6
3  thurs  3
4    fri  3
5    sat  2