In [9]:
import pandas as pd

df = pd.read_csv('HINDUSTAN_Aeronautics Limited.csv')
df
#to know the info
df.info()
#to perform certain specific operations
df.describe()
#to print certain specified rows or columns
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 9 columns):
DAY                     117 non-null int64
Date                    117 non-null object
Open                    117 non-null float64
High                    117 non-null float64
Low                     117 non-null float64
Last                    117 non-null float64
Close                   117 non-null float64
Total Trade Quantity    117 non-null float64
Turnover (Lacs)         117 non-null float64
dtypes: float64(7), int64(1), object(1)
memory usage: 7.8+ KB

,DAY,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,0,2018-09-14,910.0,934.50,909.8,933.0,932.30,23940.0,222.22
1,1,2018-09-12,910.0,920.00,900.0,906.0,904.60,7726.0,70.06
2,2,2018-09-11,937.6,937.60,910.0,910.0,911.75,12173.0,111.97
3,3,2018-09-10,922.0,945.05,922.0,929.0,930.45,32206.0,300.98
4,4,2018-09-07,865.0,938.80,855.1,923.0,922.00,108865.0,993.07

In [16]:
#to print the particular row
df['Open']

#to get max in that row
df['High'].max()

1184.95

In [25]:
import numpy as np
#create our own data frame
df = pd.DataFrame(np.random.randn(1000,2), columns=['A','B'])

#adding more columns
df['C'] = pd.Series(np.random.randn(1000))
#to delete column
df.drop('C', axis = 1, inplace=True)
#to print column details
df.columns

AttributeError: 'DataFrame' object has no attribute 'rows'

In [29]:
#inplace is used to change permanently
df.drop('B', axis = 1, inplace=True)

KeyError: "['B'] not found in axis"